In [2]:
import pandas as pd
import matplotlib as rc
import matplotlib.pyplot as plt
from matplotlib import rc
import matplotlib.font_manager as fm
from prophet import Prophet
import numpy as np

In [61]:
file_path="../ref/lotto.xlsx"
ori = pd.read_excel(file_path, engine="openpyxl", header=None)  # ë˜ëŠ” engine="xlrd" (xlsì¸ ê²½ìš°)
ori.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,íšŒì°¨ë³„ ì¶”ì²¨ê²°ê³¼,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ë…„ë„,íšŒì°¨,ì¶”ì²¨ì¼,1ë“±,NaN,2ë“±,NaN,3ë“±,NaN,4ë“±,NaN,5ë“±,NaN,ë‹¹ì²¨ë²ˆí˜¸,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,ë‹¹ì²¨ììˆ˜,ë‹¹ì²¨ê¸ˆì•¡,ë‹¹ì²¨ììˆ˜,ë‹¹ì²¨ê¸ˆì•¡,ë‹¹ì²¨ììˆ˜,ë‹¹ì²¨ê¸ˆì•¡,ë‹¹ì²¨ììˆ˜,ë‹¹ì²¨ê¸ˆì•¡,ë‹¹ì²¨ììˆ˜,ë‹¹ì²¨ê¸ˆì•¡,1,2.0,3.0,4.0,5.0,6.0,ë³´ë„ˆìŠ¤
3,2025,1173,2025.05.24,24,"1,179,946,063ì›",94,"50,210,471ì›",3139,"1,503,595ì›",163678,"50,000ì›",2689832,"5,000ì›",1,5.0,18.0,20.0,30.0,35.0,3
4,NaN,1172,2025.05.17,13,"2,203,004,452ì›",98,"48,705,881ì›",3059,"1,560,372ì›",152897,"50,000ì›",2590472,"5,000ì›",7,9.0,24.0,40.0,42.0,44.0,45

In [62]:

# í•„ìš”í•œ ì—´ë§Œ ì„ íƒí•´ì„œ ì§ì ‘ ì´ë¦„ ì§€ì •
df = ori.iloc[3:, 13:20]  # ì˜ˆ: 4ë²ˆì§¸ ì¤„ë¶€í„°, 3~8ë²ˆì§¸ ì—´ë§Œ ì‚¬ìš©
df.columns = ['ë²ˆí˜¸1', 'ë²ˆí˜¸2', 'ë²ˆí˜¸3', 'ë²ˆí˜¸4', 'ë²ˆí˜¸5', 'ë²ˆí˜¸6','ë³´ë„ˆìŠ¤']
df = df.dropna().astype(int)  # ë˜ëŠ” applymap(...) ì‚¬ìš© ê°€ëŠ¥
df

      ë²ˆí˜¸1  ë²ˆí˜¸2  ë²ˆí˜¸3  ë²ˆí˜¸4  ë²ˆí˜¸5  ë²ˆí˜¸6  ë³´ë„ˆìŠ¤
3       1    5   18   20   30   35    3
4       7    9   24   40   42   44   45
5       3    6    7   11   12   17   19
6       3   13   28   34   38   42   25
7       5   12   24   26   39   42   20
...   ...  ...  ...  ...  ...  ...  ...
1171   16   24   29   40   41   42    3
1172   14   27   30   31   40   42    2
1173   11   16   19   21   27   31   30
1174    9   13   21   25   32   42    2
1175   10   23   29   33   37   40   16

[1173 rows x 7 columns]

In [63]:
# ëª¨ë“  ë²ˆí˜¸ë¥¼ í•˜ë‚˜ì˜ ë°°ì—´ë¡œ í‰íƒ„í™” (flatten)
all_numbers = df.values.flatten()

# ë“±ì¥ íšŸìˆ˜ ì„¸ê¸°
number_counts = pd.Series(all_numbers).value_counts().sort_values(ascending=False)

# ê°€ì¥ ë§ì´ ë‚˜ì˜¨ ë²ˆí˜¸ 8ê°œ
top8 = number_counts.head(8)

print(top8)

34    203
12    199
27    198
33    197
13    197
17    194
43    194
20    192
Name: count, dtype: int64

In [66]:
number_counts.to_csv("lotto_number_counts.csv", header=["count"])
pd.read_csv("lotto_number_counts.csv").head()

   Unnamed: 0  count
0          34    203
1          12    199
2          27    198
3          33    197
4          13    197

In [72]:
import random
# ê¸°ì¤€ CSV íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
file_path = "../ref/lotto_number_counts.csv"  # íŒŒì¼ ê²½ë¡œëŠ” ì•Œë§ê²Œ ìˆ˜ì •
df = pd.read_csv(file_path)

# ì»¬ëŸ¼ëª… ì •ë¦¬ (ë²ˆí˜¸, ë“±ì¥íšŸìˆ˜)
df.rename(columns={"Unnamed: 0": "number", "count": "count"}, inplace=True)

# ì¶œí˜„ íšŸìˆ˜ ë†’ì€ ë²ˆí˜¸ëŠ” í™•ë¥  ë‚®ê²Œ, ë‚®ì€ ë²ˆí˜¸ëŠ” í™•ë¥  ë†’ê²Œ â†’ ì—­ê°€ì¤‘ì¹˜ ê³„ì‚°
max_count = df["count"].max()
df["weight"] = max_count - df["count"] + 1  # ìµœì†Œê°’ 1 ì´ìƒìœ¼ë¡œ ë³´ì •

# ë²ˆí˜¸ ë¦¬ìŠ¤íŠ¸ ë° ê°€ì¤‘ì¹˜ ë¦¬ìŠ¤íŠ¸ ì¤€ë¹„
numbers = df["number"].tolist()
weights = df["weight"].tolist()

# ì¶”ì²œ ìˆ«ì 4ê°œ ë½‘ê¸° (ì¤‘ë³µ ì—†ì´)
selected = set()
while len(selected) < 4:
    pick = random.choices(numbers, weights=weights, k=1)[0]
    if pick not in selected:
        selected.add(pick)

# ì¶”ê°€ ëœë¤ ìˆ«ì 2ê°œ (ì¤‘ë³µ í—ˆìš©)
extra = random.sample(range(1, 46), 2)
bonus = extra[-1]

# ê²°ê³¼ ì¶œë ¥
print("âœ… ì¶”ì²œ ë²ˆí˜¸ 4ê°œ:", sorted(selected))
print("ğŸ² ì¶”ê°€ ë²ˆí˜¸ 2ê°œ:", extra)
print("â­ ë³´ë„ˆìŠ¤ ë²ˆí˜¸:", bonus)

âœ… ì¶”ì²œ ë²ˆí˜¸ 5ê°œ: [4, 5, 8, 29, 42]
ğŸ² ì¶”ê°€ ë²ˆí˜¸ 2ê°œ: [31, 15]
â­ ë³´ë„ˆìŠ¤ ë²ˆí˜¸: 15

In [73]:
import pandas as pd
import random

# íŒŒì¼ ê²½ë¡œ ì„¤ì •
file_path = "../ref/lotto_number_counts.csv"  # ê²½ë¡œëŠ” ìƒí™©ì— ë”°ë¼ ìˆ˜ì •
df = pd.read_csv(file_path)

# ì»¬ëŸ¼ ì´ë¦„ ì •ë¦¬
df.rename(columns={"Unnamed: 0": "number", "count": "count"}, inplace=True)

# ì—­ê°€ì¤‘ì¹˜ ê³„ì‚° (ì¶œí˜„ ì ì€ ë²ˆí˜¸ ìš°ì„  ì„ íƒë˜ê²Œ)
max_count = df["count"].max()
df["weight"] = max_count - df["count"] + 1

# ë²ˆí˜¸ì™€ ê°€ì¤‘ì¹˜ ë¦¬ìŠ¤íŠ¸
numbers = df["number"].tolist()
weights = df["weight"].tolist()

# ê²°ê³¼ ì €ì¥í•  ë¦¬ìŠ¤íŠ¸
lotto_sets = []

# 10ì¡°í•© ìƒì„±
for _ in range(10):
    selected = set()
    
    # 4ê°œ ë²ˆí˜¸ ì„ íƒ (ì¤‘ë³µ ì—†ì´, ë“±ì¥ íšŸìˆ˜ ì ì€ ë²ˆí˜¸ ìš°ì„ )
    while len(selected) < 4:
        pick = random.choices(numbers, weights=weights, k=1)[0]
        if pick not in selected:
            selected.add(pick)
    
    # ì¶”ê°€ ëœë¤ ë²ˆí˜¸ 2ê°œ (ì¤‘ë³µ í—ˆìš©)
    extra = random.sample(range(1, 46), 2)
    
    # 6ê°œ ë²ˆí˜¸ë¡œ êµ¬ì„± (ì¶”ì²œ 4ê°œ + ëœë¤ 2ê°œ)
    full_set = sorted(list(selected) + extra)
    lotto_sets.append(full_set)

# ê²°ê³¼ ì¶œë ¥
for i, nums in enumerate(lotto_sets, 1):
    print(f"{i}ë²ˆ ì¡°í•©: {nums}")

1ë²ˆ ì¡°í•©: [5, 7, 8, 22, 28, 39, 42]
2ë²ˆ ì¡°í•©: [3, 9, 9, 24, 40, 44, 45]
3ë²ˆ ì¡°í•©: [2, 22, 22, 32, 39, 44, 45]
4ë²ˆ ì¡°í•©: [5, 9, 14, 21, 28, 39, 41]
5ë²ˆ ì¡°í•©: [7, 13, 21, 24, 27, 32, 37]
6ë²ˆ ì¡°í•©: [5, 5, 10, 11, 22, 24, 35]
7ë²ˆ ì¡°í•©: [11, 19, 20, 27, 32, 32, 36]
8ë²ˆ ì¡°í•©: [7, 8, 19, 27, 29, 32, 41]
9ë²ˆ ì¡°í•©: [9, 24, 28, 37, 39, 39, 41]
10ë²ˆ ì¡°í•©: [1, 16, 25, 29, 38, 39, 45]

In [74]:
import pandas as pd
import random

# íŒŒì¼ ê²½ë¡œ ë° ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
file_path = "../ref/lotto_number_counts.csv"  # ë³¸ì¸ ê²½ë¡œì— ë§ê²Œ ìˆ˜ì •
df = pd.read_csv(file_path)

# ì—´ ì´ë¦„ ì •ë¦¬
df.rename(columns={"Unnamed: 0": "number", "count": "count"}, inplace=True)

# ë“±ì¥ íšŸìˆ˜ ì ì„ìˆ˜ë¡ í™•ë¥  ë†’ê²Œ ì„¤ì •
max_count = df["count"].max()
df["weight"] = max_count - df["count"] + 1

numbers = df["number"].tolist()
weights = df["weight"].tolist()

# ì¶”ì²œ ì¡°í•© ìƒì„±
lotto_sets = []
for _ in range(10):
    selected = set()
    while len(selected) < 4:
        pick = random.choices(numbers, weights=weights, k=1)[0]
        if pick not in selected:
            selected.add(pick)
    extra = random.sample(range(1, 46), 2)
    full_set = sorted(list(selected) + extra)
    lotto_sets.append(full_set)

# DataFrame ë³€í™˜
lotto_df = pd.DataFrame(lotto_sets, columns=["ë²ˆí˜¸1", "ë²ˆí˜¸2", "ë²ˆí˜¸3", "ë²ˆí˜¸4", "ë²ˆí˜¸5", "ë²ˆí˜¸6"])

# CSV ì €ì¥
lotto_df.to_csv("ì¶”ì²œë¡œë˜ì¡°í•©.csv", index=False, encoding="utf-8-sig")

# Excel ì €ì¥ (ì„ íƒ)
lotto_df.to_excel("ì¶”ì²œë¡œë˜ì¡°í•©.xlsx", index=False)

# í™•ì¸
lotto_df.head()

   ë²ˆí˜¸1  ë²ˆí˜¸2  ë²ˆí˜¸3  ë²ˆí˜¸4  ë²ˆí˜¸5  ë²ˆí˜¸6
0   11   11   15   17   20   38
1    9    9   23   25   32   45
2    9   31   37   41   42   45
3    1    9   11   25   25   44
4    9   10   16   31   32   37